.page-403 {
     background-image: url("./../src/main/resources/META-INF/resources/images/404.webp");
}

.page-404 {
     background-image: url("./../src/main/resources/META-INF/resources/images/404.webp");
}

.page-505 {
     background-image: url("./../src/main/resources/META-INF/resources/images/505.webp");
}
