:root {
    --header-background: rgb(255, 255, 255);
    --color-black: rgb(51, 40, 40);
}

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

#header{
    border-bottom: 2px solid var(--color-black);
    background-color: var(--header-background);
}

navbar{
    display: flex;
    align-items: center;
    padding: 15px 50px;
    font-size: 16px;
}

.logo {
    margin-right: 25px;
    font-size: 50px;
    height: 50px;
    width: 200px;
}

.menu-inner{
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu-item {
    position: relative;
    text-decoration: none !important;
    color: var(--color-black) !important;
}

.menu-inner a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--color-black);
    left: 0;
    bottom: -4px;
    transition: ease .40s;
}

.menu-inner a:hover::after {
    width: 100%;
}

.page-content{
    margin-top: 100px;
}

canvas {
    top: 100px !important;
    left: 30px !important;
}

.margin-end {
     margin-left: auto;
     margin-right: 20px;
}