*.java linguist-detectable=true
*.html linguist-detectable=true
*.js linguist-detectable=true
*.css linguist-detectable=true



# Ignore all JavaScript files recursively in this directory and its subdirectories
src/main/dev-bundle/**/*.js linguist-vendored=false