*.java linguist-detectable=true
*.html linguist-detectable=true
*.css linguist-detectable=true
*.js linguist-detectable=false


### NOT WORKING PROPERLY

# Ignore all JavaScript files recursively in this directory and its subdirectories
/src/main/dev-bundle/webapp/VAADIN/build/*.js linguist-vendored=false