@import 'components-style/header.css';

:root {
    --header-background: rgb(255, 255, 255);
    --color-black: rgb(51, 40, 40);
    --table-background: rgb(220, 214, 211);
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a,
button {
    color: inherit;
    cursor: pointer;
}

img {
    display: block;
    cursor: pointer;
    max-width: 100%;
    height: auto;
    -webkit-user-drag: none;
}

.page-content {
    margin-top: 80px;
}

#chart-pie {
    width: 700px;
    height: 500px;
    margin-top: 20px;
    margin-left: 20px;
}

.tooltip-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tooltip-value,
.tooltip-currency {
    font-weight: bold;
}

.tooltip-category::after {
    content: ":";
}

.tooltip-percent {
    color: #fff;
    background-color: #4C5058;
    padding: 3px 4px;
    border-radius: 5px;
}

.tooltip-category,
.tooltip-value,
.tooltip-currency,
.tooltip-percent {
    margin-right: 5px;
}
