/* TODO: '@import' component doesn't work inside pages css files  */

@import 'styles/component-styles/header.css';
@import 'styles/component-styles/chart.css';
@import 'styles/component-styles/multi-button-group.css';
@import 'styles/page-styles/error-page.css';
@import 'styles/page-styles/auth-pages.css';
@import 'styles/page-styles/asset-details-page.css';

:root {
    --main: #00BFA6;
    --background: #e7fffb;
    --header-background: rgb(255, 255, 255);
    --color-white: white;
    --color-black: rgb(51, 40, 40);
    --color-orange: #ff9332;
    --color-gray: rgb(123, 123, 123);
    --table-background: rgb(220, 214, 211);
    --input-border: #d1d1d1;
    --invalid-border: #d93025;
    --invalid: #d93025;
    --show-hide: #919191;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.remove-style {
    margin: 0 !important;
    padding: 0 !important;
    list-style-type: none !important;
    outline: none !important;
    border: none !important;
    text-decoration: none !important;
    box-sizing: border-box !important;
    font-family: 'Poppins', sans-serif !important;
}

a,
button {
    color: inherit;
    cursor: pointer;
}

img {
    display: block;
    cursor: pointer;
    max-width: 100%;
    height: auto;
    -webkit-user-drag: none;
}

vaadin-text-area::part(input-field),
vaadin-number-field::part(input-field) {
/*    background: white;
    padding: 0;*/
}

vaadin-text-field > [slot="prefix"],
vaadin-number-field > [slot="prefix"] {
    margin: 0;
}

vaadin-button.no-background {
    background: none;
}

.page-content {
    margin-top: 80px;
}



/* TODO: Check this */
.button-radio-group vaadin-radio-button::part(radio) {
    display: none;
}

.button-radio-group vaadin-radio-button {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 20px;
/*    border-radius: 5px;
    border: 1px solid black;*/
    background: none;
    transition: all ease 0.3s;
}

.button-radio-group vaadin-button {
    background: none;
    height: 30px;
    width: auto;
    border: 0.125rem solid black;
}


