/*
    TODO:
        - Add style for grid
        - Style the filtering way to add/remove columns
*/

/*
    Asset Search Field
*/
.asset-search-field {
    width: 250px;
}

.asset-search-field::part(input-field) {
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid var(--o20Color);
}

.asset-search-field > [slot="suffix"] {
    margin-left: 10px;
}

.asset-search-field[focused]::part(input-field) {
    border: 1px solid var(--color-orange);
}

/*
    Grid Header
*/
.assets-grid-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.sync-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sync-container > vaadin-button {
    width: 150px;
    color: black;
    background: white;
    height: 40px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    border-radius: 12px;
    border: 1px solid var(--o10Color);
}

.sync-container > vaadin-checkbox {
    margin-top: 5px;
}

/*
    TODO: This is from asset grid
        - Style the other columns as well
*/
.asset-price {
    color: rgb(37 99 235);
}

vaadin-grid::part(cell) {
    margin: 2px 5px;
}

vaadin-grid-cell-content > div.coin-overview-name-container > img {
    width: 30px;
    height: 30px;
}

vaadin-grid-cell-content > div.price-change-badge {
    background: white !important;
    justify-content: center;
}

vaadin-grid-cell-content > vaadin-icon,
vaadin-grid-cell-content > vaadin-button {
    width: 50px;
    background: white;
}

/*
    Grid Footer
*/

div.assets-grid-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 18px 0px;
}

.assets-grid-footer > p {
    color: var(--o60Color);
}

.assets-grid-footer > span {
    font-weight: 500;
    margin: 0px 8px 0px 4px;
}

.assets-grid-footer > vaadin-button {
    color: black;
    height: 34px;
    font-size: 14px;
    margin:
    padding: 0 22px;
    font-weight: 400;
    border-radius: 16px;
    background: var(--o5Color);
}

