.coin-details-content {
    height: 100%;
    margin: 100px;
    min-height: 30vh;
    position: relative;
}

.section-card-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 8px 12px;
    border-radius: 24px;
    background: var(--white-color);
    border: 1px solid #f2f2f2;
    margin-bottom: 30px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-header > vaadin-button {
    border: 1px solid #e5e5e5;
    padding: 6px 16px 6px 12px;
    border-radius: 12px;
    background-color: white;
    font-size: 16px;
    color: black;
}

.section-title {
    padding: 0 20px;
    margin: 40px 0 20px;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
    color: var(--black-color);
}

.section-card-wrapper > vaadin-button {
    background: none;
}

.rounded-button {
    border: 1px solid #e5e5e5;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin: 10px;
}

.rounded-button > span {
    transition: .5s color, .5s background;
}

.price-wrapper {
    display: flex;
    align-items: center;
    margin-top: 13px;
}

.price-wrapper > p {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0px;
    color: var(--color-black);
    margin-right: 10px;
}

.price-change-badge {
    height: 30px;
    display: flex;
    align-items: center;
    padding: 4px;
    margin-bottom: 8px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.price-change-badge > vaadin-icon {
    font-size: 16px;
}

.price-badge-green {
    background: rgba(52, 179, 73, .1);
}

.price-badge-red {
    background: rgba(240, 41, 52, .1);
}

.price-text-green {
    color: #34b349;
}

.price-text-red {
    color: #f02934;
}

/*
    Header Section
*/

.asset-details-header {
    display: flex;
    justify-content: space-between;
}

.coin-overview-name-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.coin-overview-name-container > .dot {
    font-weight: 500;
}

.coin-overview-name-container > .dot {
    margin: 0 10px 0 5px;
}

.coin-overview-name-container > span {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #7f7f7f;;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100px;
    white-space: nowrap;
}

.coin-overview-image {
    width: 40px;
    height: 40px;
    margin-right: 12px;
}

.coin-overview-rank {
    background: rgb(39, 117, 202);
    display: inline-flex;
    align-items: center;
    line-height: 1;
    border-radius: 6px;
    padding: 2px 8px;
    margin: 0px;
    width: fit-content;
    height: 20px;
    letter-spacing: 0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    color: var(--color-white);
}

.coin-overview_price {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    -webkit-letter-spacing: 0;
    -moz-letter-spacing: 0;
    -ms-letter-spacing: 0;
    letter-spacing: 0;
    color: var(--textColor);
}

/*
    Holdings Section
*/

.portfolio-diversity {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

/*
    Market Stats Section
*/

.stats-details-wrapper {
    max-width: 236px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats-details-wrapper > .stats-title {
    font-size: 20px;
    font-weight: 600;
}

.stats-details-wrapper > .stats-item {
    font-size: 18px;
}

/*
    Notes Widget
*/

.widget-card {
    margin: 0px;
    flex: 0 0 auto;
    height: fit-content;
    max-width: 382px !important;
    padding: 16px 16px 24px !important;
}

.widget-wrapper {
    display: block;
    color: var(--black-color);
    border-radius: 20px;
    box-sizing: border-box;
}


/* Notes Convertor Section */

.notes-convertor-section {
    display: flex;
    gap: 30px;
}

.notes-section,
.convertor-section {
    flex: 1 1 0%;
}

.note-wrapper {
    min-height: 172px;
    padding: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 8px 12px 0px;
}

.note-area {
    min-height: 107px;
    padding: 18px 18px 20px;
    color: #333333;
    overflow: hidden;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 1px solid #e5e5e5;
    border-radius: 16px;
    background: white;
    width: 100%;
}

.note-wrapper > vaadin-text-area[focused] {
    border: 1px solid var(--color-orange);
}

.note-wrapper > vaadin-button {
    color: white;
    width: 40px;
    height: 36px;
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
    border-radius: 8px;
    background: var(--color-orange);
    box-shadow: 0 4px 6px rgba(255, 147, 50, .2);
    padding: 0 16px;
    margin-top: 12px;
}

.convertor {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 8px 12px;
    border: 1px solid #e5e5e5;
    border-radius: 16px;
    padding: 30px;
}

.convertor > div {
    display: flex;
    align-items: center;
    width: 100%;
/*    margin: 15px 20px;*/
}

.convertor-output-image {
    width: 30px;
    height: 30px;
    margin: 0 17px 0 5px;
}

.convertor > div > p {
    max-width: 80px;
    color: var(--color-black);
    font-size: 25px;
    line-height: 28px;
    letter-spacing: 0px;
    font-weight: 500;
    text-align: center;
    margin: 0 12px 0 0;
}

/* TODO: Check this */
.convertor > div > vaadin-number-field > input {
    text-align: right;
    height: 50px;
    font-weight: 500;
    font-size: 29px;
    line-height: 38px;
    color: black;
    padding: 0 20px;
}

vaadin-number-field {
    width: 100%;
}

.section-card-wrapper .price-watcher-wrapper {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    margin-bottom: 15px;
}

.price-watcher-wrapper > vaadin-button {
    margin-top: 10px;
}

.price-watcher-card-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    min-width: 200px;
    position: relative;
}

.asset-amount-field {
    max-width: 300px;
}

.asset-amount-field::part(input-field) {
    color: black;
}

.card-wrapper-body {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.card-wrapper-footer {
    display: flex;
    gap: 10px;
}

.watchlist-status {
    position: absolute;
    border-radius: 0px 200px 0px 40px;
    padding: 0px 7px;
    top: -26px;
    right: -75px;
    font-size: 12px;
}

.ongoing {
    background: #f5f5dc;
}

.completed {
    background: #c0ced3;
}

