.compare-tab-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    gap: 30px;
}

.comparation-body {
    display: flex;
    gap: 50px;
}

.asset-compare-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}

/* TODO: Make just this vaadin-tabs component as space evenly */
vaadin-tabs::part(tabs) {
    justify-content: space-evenly;
}