.settings-page-container {
	display: flex;
}


/**********************************************************
						CATEGORIES
**********************************************************/

#categories-grid {
	width: 400px;
}


/**********************************************************
							TAGS
**********************************************************/

#tags-grid {
	width: 400px;
}