.error-page {
    background-color: var(--color-gray);
}

.error-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3%;
    gap: 2rem;
    background-color: var(--background);
}

.error-container img {
    width: 40%;
    margin: 0 auto;
}

.error-container h2 {
    font-size: 4vw;
    line-height: 1.2;
}

.error-container p {
    font-size: 1.2vw;
    margin: 1rem 0;
}

.error-container span {
    color: var(--main);
}


.return-btn {
    max-width: 150px;
    height: 5vh;
    margin: 10px 0;
    padding: 0 15px;
    font-size: 3vh;
    border-radius: 8px;
    color: var(--main);
    background-color: var(--color-white);
    border: 1px solid var(--main);
}

@media only screen and (max-width: 992px) {

    .error-container {
        flex-direction: column;
    }

    .error-container h2 {
        font-size: 3rem;
    }

    img {
        width: 80%;
        margin: auto;
    }

}

@media only screen and (max-width: 992px) {

    .error-container p {
        font-size: 1rem;
    }

}

@media only screen and (max-width: 480px) {

    .error-container {
        gap: 3rem;
    }

    .error-container h2 {
        font-size: 2.5rem;
    }

    .error-container p {
        margin: 0.8rem 0;
    }

}