.container {
    position: relative;
    width: 100%;
    background-color: var(--background);
    min-height: 100vh;
    overflow: hidden;
}

.signin-signup {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 75%;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}

form {
    margin-top: 30px;
}

.field {
    margin-bottom: 10px;
    max-width: 370px;
    width: 100%;
}

.input-field {
    position: relative;
    height: 55px;
    width: 100%;
}

input {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    padding: 0 15px;
    border: 1px solid var(--input-border);
}

.invalid input {
    border-color: var(--invalid);
}

.show-hide {
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: var(--show-hide);
    cursor: pointer;
    padding: 3px;
}

.invalid .error {
    display: flex;
}

.error {
    display: flex;
    align-items: center;
    margin-top: 6px;
    color: var(--invalid);
    font-size: 13px;
    display: none;
}

.forgot-password{
    display: flex;
    justify-content: end;
    align-items: flex-end;
    color: var(--color-gray);
    font-size: 13px;
}

.error-icon {
    margin-right: 6px;
    font-size: 15px;
}

.btn {
    max-width: 150px;
    background-color: var(--color-white);
    height: 49px;
    border-radius: 8px;
    color: var(--color-white);
    font-weight: 600;
    margin: 10px 0;
}

.panels-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container:before {
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    background-color: var(--main);
    /* background-image: linear-gradient(-45deg, var(--main) 0%, var(--main) 100%); */
    border-radius: 50%;
    z-index: 6;
}

.image {
    width: 100%;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 6;
}

.left-panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
}

.panel .content {
    color: var(--color-white);
}

.panel h3 {
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
}

.panel p {
    font-size: 0.95rem;
    padding: 0.7rem 0;
}

.btn.transparent {
    background: none;
    border: 2px solid var(--color-white);
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
}

@media (max-width: 870px) {
    .container {
        min-height: 800px;
        height: 100vh;
    }

    .signin-signup {
        width: 100%;
        top: 95%;
        transform: translate(-50%, -100%);
    }

    .signin-signup,
    .container .signin-signup {
        left: 50%;
    }

    .panels-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }

    .panel {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2.5rem 8%;
        grid-column: 1 / 2;
    }

    .left-panel {
        grid-row: 1 / 2;
    }

    .image {
        width: 200px;
    }

    .panel .content {
        padding-right: 15%;
    }

    .panel h3 {
        font-size: 1.2rem;
    }

    .panel p {
        font-size: 0.7rem;
        padding: 0.5rem 0;
    }

    .btn.transparent {
        width: 110px;
        height: 35px;
        font-size: 0.7rem;
    }

    .container:before {
        width: 1500px;
        height: 1500px;
        transform: translateX(-50%);
        left: 30%;
        bottom: 68%;
        right: initial;
        top: initial;
    }
}

@media (max-width: 570px) {
    form {
        padding: 0 1.5rem;
    }

    .image {
        display: none;
    }

    .panel .content {
        padding: 0.5rem 1rem;
    }

    .container {
        padding: 1.5rem;
    }

    .container:before {
        bottom: 72%;
        left: 50%;
    }

    .container.sign-up-mode:before {
        bottom: 28%;
        left: 50%;
    }
}