.signin-container {
    left: 75%;
}

.panels-container {
    left: 0;
}

.container:before {
    transform: translateY(-50%);
    right: 48%;
}

.left-panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
}

.forgot-password {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    color: var(--color-gray);
    font-size: 13px;
}

@media (max-width: 870px) {
    .left-panel {
        grid-row: 1 / 2;
    }
}
