.login-page:before {
    transform: translateY(-50%);
    right: 48%;
}

.signin-container {
    left: 75%;
}

.position-left {
    left: 0;
}

.left-panel {
    padding: 3rem 17% 2rem 12%;
}

.error-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    width: auto;
    height: 100px;
    margin: 0% 15% 0% 12%;
    border-radius: 8px;
}

.forgot-password {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    color: var(--color-gray);
    font-size: 13px;
}

@media (max-width: 870px) {
    .left-panel {
        grid-row: 1 / 2;
    }
}
