.register-page:before {
    transform: translate(100%, -50%);
    right: 52%;
}

.signup-container {
    left: 25%;
}

vaadin-text-field {
    margin-bottom: 20px;
    max-width: 370px;
    width: 100%;
    background-color: white;
}

vaadin-text-field::part(input-field) {
    position: relative;
    height: 55px;
    width: 100%;
    background-color: white;
    padding: 0px;
    /*border-radius: 8px;
    border: 1px solid var(--input-border);*/
}

vaadin-text-field > input {
    font-size: 13.333px;
    font-weight: 400;
}


.position-right {
    left: 50%;
}

.right-panel {
    padding: 3rem 12% 2rem 17%;
}

@media (max-width: 870px) {
    .panels-container {
        left: 0;
    }

    .right-panel {
        grid-row: 3 / 4;
    }

    .sign-up-mode:before {
        transform: translate(-50%, 100%);
        bottom: 32%;
        right: initial;
    }

    .right-panel .image,
    .right-panel .content {
        transform: translateY(-630px);
    }

    register-page.sign-up-mode .signup-container {
        top: 5%;
        transform: translate(-50%, 0);
    }
}