.signup-container {
    left: 25%;
}

.panels-container {
    left: 50%;
}

.container:before {
    transform: translate(100%, -50%);
    right: 52%;
}

.right-panel {
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
}

@media (max-width: 870px) {
    .panels-container {
        left: 0;
    }

    .right-panel {
        grid-row: 3 / 4;
    }

    .container.sign-up-mode:before {
        transform: translate(-50%, 100%);
        bottom: 32%;
        right: initial;
    }

    .right-panel .image,
    .right-panel .content {
        transform: translateY(-630px);
    }

    .container.sign-up-mode .signin-signup {
        top: 5%;
        transform: translate(-50%, 0);
    }
}